
body {
  font-family: 'Open Sans', arial, sans-serif;
  color: #494d55;
  background-color: #f9f9fb;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
html,
body {
  height: 100%;
}
p {
  line-height: 1.5;
}
a {
  color: #3aa7aa;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
}
a:hover {
}
a:focus {
  text-decoration: none;
}

header{
    background: #494d55;
    color: rgba(255, 255, 255, 0.85);
    border-top: 5px solid #f7f229;
    padding: 30px 0;
}
h1.logo > a:hover, a:focus{
  text-decoration: none;
}
.branding .text-bold {
    font-weight: 800;
    color: #fff;
}

.branding .text-highlight {
    color: #f7f229;
}
.branding .icon {
    color: #f7f229;
}
.lightbulb-selector-container{
  
}
.ip-field{
  color:lightgray;
}

/*##############################################################################*/
/*##############################################################################*/
/*########################## Styles pour les sliders ########################## */
/*##############################################################################*/
/*##############################################################################*/


/*##############################  Red ######################################*/
input[type=range].red_slider {
  -webkit-appearance: none;
  width: 100%;
  margin: 14.5px 0;
}
input[type=range].red_slider:focus {
  outline: none;
}
input[type=range].red_slider::-webkit-slider-runnable-track {
  width: 100%;
  height: 7px;
  cursor: pointer;
  box-shadow: 0px 0px 1px #000000, 0px 0px 0px #0d0d0d;
  background: #bb0000;
  border-radius: 25px;
  border: 0px solid #010101;
}
input[type=range].red_slider::-webkit-slider-thumb {
  box-shadow: 0.3px 0.3px 1.3px rgba(0, 0, 0, 0.2), 0px 0px 0.3px rgba(13, 13, 13, 0.2);
  border: 0.1px solid #a89f9f;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -14.5px;
}
input[type=range].red_slider:focus::-webkit-slider-runnable-track {
  background: #d40000;
}
input[type=range].red_slider::-moz-range-track {
  width: 100%;
  height: 7px;
  cursor: pointer;
  box-shadow: 0px 0px 1px #000000, 0px 0px 0px #0d0d0d;
  background: #bb0000;
  border-radius: 25px;
  border: 0px solid #010101;
}
input[type=range].red_slider::-moz-range-thumb {
  box-shadow: 0.3px 0.3px 1.3px rgba(0, 0, 0, 0.2), 0px 0px 0.3px rgba(13, 13, 13, 0.2);
  border: 0.1px solid #a89f9f;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
}
input[type=range].red_slider::-ms-track {
  width: 100%;
  height: 7px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range].red_slider::-ms-fill-lower {
  background: #a20000;
  border: 0px solid #010101;
  border-radius: 50px;
  box-shadow: 0px 0px 1px #000000, 0px 0px 0px #0d0d0d;
}
input[type=range].red_slider::-ms-fill-upper {
  background: #bb0000;
  border: 0px solid #010101;
  border-radius: 50px;
  box-shadow: 0px 0px 1px #000000, 0px 0px 0px #0d0d0d;
}
input[type=range].red_slider::-ms-thumb {
  box-shadow: 0.3px 0.3px 1.3px rgba(0, 0, 0, 0.2), 0px 0px 0.3px rgba(13, 13, 13, 0.2);
  border: 0.1px solid #a89f9f;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
  height: 7px;
}
input[type=range].red_slider:focus::-ms-fill-lower {
  background: #bb0000;
}
input[type=range].red_slider:focus::-ms-fill-upper {
  background: #d40000;
}

/*##############################  Green ######################################*/
input[type=range].green_slider {
  -webkit-appearance: none;
  width: 100%;
  margin: 14.5px 0;
}
input[type=range].green_slider:focus {
  outline: none;
}
input[type=range].green_slider::-webkit-slider-runnable-track {
  width: 100%;
  height: 7px;
  cursor: pointer;
  box-shadow: 0px 0px 1px #000000, 0px 0px 0px #0d0d0d;
  background: #00bb00;
  border-radius: 25px;
  border: 0px solid #010101;
}
input[type=range].green_slider::-webkit-slider-thumb {
  box-shadow: 0.3px 0.3px 1.3px rgba(0, 0, 0, 0.2), 0px 0px 0.3px rgba(13, 13, 13, 0.2);
  border: 0.1px solid #a89f9f;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -14.5px;
}
input[type=range].green_slider:focus::-webkit-slider-runnable-track {
  background: #00d400;
}
input[type=range].green_slider::-moz-range-track {
  width: 100%;
  height: 7px;
  cursor: pointer;
  box-shadow: 0px 0px 1px #000000, 0px 0px 0px #0d0d0d;
  background: #00bb00;
  border-radius: 25px;
  border: 0px solid #010101;
}
input[type=range].green_slider::-moz-range-thumb {
  box-shadow: 0.3px 0.3px 1.3px rgba(0, 0, 0, 0.2), 0px 0px 0.3px rgba(13, 13, 13, 0.2);
  border: 0.1px solid #a89f9f;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
}
input[type=range].green_slider::-ms-track {
  width: 100%;
  height: 7px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range].green_slider::-ms-fill-lower {
  background: #00a200;
  border: 0px solid #010101;
  border-radius: 50px;
  box-shadow: 0px 0px 1px #000000, 0px 0px 0px #0d0d0d;
}
input[type=range].green_slider::-ms-fill-upper {
  background: #00bb00;
  border: 0px solid #010101;
  border-radius: 50px;
  box-shadow: 0px 0px 1px #000000, 0px 0px 0px #0d0d0d;
}
input[type=range].green_slider::-ms-thumb {
  box-shadow: 0.3px 0.3px 1.3px rgba(0, 0, 0, 0.2), 0px 0px 0.3px rgba(13, 13, 13, 0.2);
  border: 0.1px solid #a89f9f;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
  height: 7px;
}
input[type=range].green_slider:focus::-ms-fill-lower {
  background: #00bb00;
}
input[type=range].green_slider:focus::-ms-fill-upper {
  background: #00d400;
}

/*##############################  Blue ######################################*/
input[type=range].blue_slider {
  -webkit-appearance: none;
  width: 100%;
  margin: 14.5px 0;
}
input[type=range].blue_slider:focus {
  outline: none;
}
input[type=range].blue_slider::-webkit-slider-runnable-track {
  width: 100%;
  height: 7px;
  cursor: pointer;
  box-shadow: 0px 0px 1px #000000, 0px 0px 0px #0d0d0d;
  background: #0000bb;
  border-radius: 25px;
  border: 0px solid #010101;
}
input[type=range].blue_slider::-webkit-slider-thumb {
  box-shadow: 0.3px 0.3px 1.3px rgba(0, 0, 0, 0.2), 0px 0px 0.3px rgba(13, 13, 13, 0.2);
  border: 0.1px solid #a89f9f;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -14.5px;
}
input[type=range].blue_slider:focus::-webkit-slider-runnable-track {
  background: #0000d4;
}
input[type=range].blue_slider::-moz-range-track {
  width: 100%;
  height: 7px;
  cursor: pointer;
  box-shadow: 0px 0px 1px #000000, 0px 0px 0px #0d0d0d;
  background: #0000bb;
  border-radius: 25px;
  border: 0px solid #010101;
}
input[type=range].blue_slider::-moz-range-thumb {
  box-shadow: 0.3px 0.3px 1.3px rgba(0, 0, 0, 0.2), 0px 0px 0.3px rgba(13, 13, 13, 0.2);
  border: 0.1px solid #a89f9f;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
}
input[type=range].blue_slider::-ms-track {
  width: 100%;
  height: 7px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range].blue_slider::-ms-fill-lower {
  background: #0000a2;
  border: 0px solid #010101;
  border-radius: 50px;
  box-shadow: 0px 0px 1px #000000, 0px 0px 0px #0d0d0d;
}
input[type=range].blue_slider::-ms-fill-upper {
  background: #0000bb;
  border: 0px solid #010101;
  border-radius: 50px;
  box-shadow: 0px 0px 1px #000000, 0px 0px 0px #0d0d0d;
}
input[type=range].blue_slider::-ms-thumb {
  box-shadow: 0.3px 0.3px 1.3px rgba(0, 0, 0, 0.2), 0px 0px 0.3px rgba(13, 13, 13, 0.2);
  border: 0.1px solid #a89f9f;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
  height: 7px;
}
input[type=range].blue_slider:focus::-ms-fill-lower {
  background: #0000bb;
}
input[type=range].blue_slider:focus::-ms-fill-upper {
  background: #0000d4;
}


/* Boutons selection ampoule */
 .list-group-item.active, .list-group-item.active:hover,
 .list-group-item.active.focus, .list-group-item.active.focus:hover{
      background-color: #494d55!important;
      border-color: #494d55!important;
 }
 .list-group-item.active h3{
   color:#f7f229;
 }